body {
  margin: 1rem;
  padding: 0;
  display: flex;
  color: #EBF5FF;
  text-shadow: 0 0 5px black;
}

canvas {
  display: block;
}

control {
  margin-left: 1rem;
  background-color: #292F2F;
  width: -webkit-fill-available;
  max-width: 600px;
}

#buttons {
  display: flex;
  margin: 1rem;
}

#buttons input[type=button] {
  margin-right: 1rem;
}

#settings {
  margin: 1rem;
  width: -webkit-fill-available;
  
  border-collapse: collapse;
}

#settings th {
  padding: 0.5rem;
  padding-left: 0;
  text-align: left;
  width: 0;
  text-wrap: nowrap;
}

#settings td {
   
}

.description {
  font-size: 1.5rem;
  text-align: left;
}

.setting {
  width: -webkit-fill-available;
  text-align: center;
}

#challenges {
  width: -webkit-fill-available;
  margin: 1rem;
  border-collapse: collapse;
/*   font-size: 1.25rem; */
  box-shadow: 0px 0px 8px 2px #FFFFFF30;
  text-align: center;
}

#challenges tr:hover {
    box-shadow: 0px 0px 8px 2px #79FFCC60;
    background: #DADADA4C;
}

thead {
  height: 2rem;
  box-shadow: 0 3px 6px #FFFFFF30;
  background-color: #A3E0C9;
  color: #323C3A;
  text-shadow: none;
}

.arrow {  
  font-weight: 100;
}

.challenge {
  height: 2rem;
}

.challenge:nth-child(even) {
  background-color: #465550;  
}

.cName,
.cCurrent,
.cTotal {
  padding: 0.3rem;
  background: center;
  color: #EBF5FF;
}

.challenge input[type="number"] {
  text-align: center;
}

.cName {  
  width: -webkit-fill-available;
}

.cCurrent, .cTotal {
  width: 2rem;
}

.cFinish {
  
}

.cMoveChallengeUp, .cMoveChallengeDown {
  padding: 0 0.4rem 0.25rem 0.4rem;
  text-shadow: 0 0 5px black, 0 0 5px black;
  background: none;
  border: none;  
  color: #EBF5FF;
}

.cMoveChallengeUp:hover, .cMoveChallengeDown:hover {
  text-shadow: 0 0 5px rgb(255,255,255), 0 0 10px rgb(255,255,255);
}

.cRemoveChallenge {
  padding: 0 0.4rem 0.25rem 0.4rem;
  text-shadow: 0 0 5px black;
  background: none;
  border: none;  
  color: darkred;
}

.cRemoveChallenge:hover {
  color: red;
}